@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

:root {
    /* Azules Oscuros (Estructura) */
    --color-navy-dark: #0B132B;
    --color-navy-mid: #1C2541;
    --color-navy-border: #3A506B;

    /* Azules Hielo (Acentos, Detalles y Hovers) */
    --color-ice-primary: #00B4D8;
    --color-ice-hover: #38BDF8;

    /* Fondos y Marcos */
    --color-bg-main: #F0F4F8;
    --color-card-bg: #FFFFFF;
    --color-card-border: #CBD5E1;

    /* Textos */
    --color-text-main: #1E293B;
    --color-text-light: #E0E1DD;
    --color-text-lighter: #eff0ee;

    --color-text-muted: #94A3B8;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

}

/*
HEADER
*/
.header {
    background-color: var(--color-navy-dark);
    display: flex;
    padding: 20px 0px 12px 20px;
    align-items: flex-end;
    user-select: none;

}


.header .logo {
    width: 60px;
    height: 60px;
    background-color: var(--color-ice-primary);
    color: var(--color-navy-dark);
}

.header>h1 {
    
    font-size: xx-large;
    padding-left: 12px;
    color: var(--color-text-light);
    font-weight: bolder;
}

/*
FIN HEADER
*/

/*
NAVBAR
*/
.navbar ul {
    background-color: var(--color-navy-mid);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    flex: 1;
}

.navbar ul li:hover {}

.navbar ul li a {
    display: block;
    padding: 4px 0;
    text-align: center;
    font-weight: bold;
    color: var(--color-text-light);
    text-decoration: none;
    border-top: 1px solid #00000000;
    border-bottom: 2px solid #00000000;
}

.navbar ul li a:hover {
    background-color: var(--color-navy-dark);
    color: var(--color-ice-hover);
    /* border-bottom: 2px solid var(--color-ice-hover);
*/
}

/*
FIN NAVBAR
*/

/*
BODY
*/
body {
    background-color: var(--color-bg-main);
}

main {
    background-color: var(--color-card-bg);
    margin: 20px;
    padding: 8px;
}

/*
FIN BODY
*/

/*
FOOTER
*/
footer {
    position: absolute;
    bottom: 0;
    background-color: var(--color-navy-dark);
    color: var(--color-text-light);
    text-align: center;
    padding: 4px;
    width: 100%;
    user-select: none;
}

/*
FIN FOOTER
*/