.pos-grid {
    display: grid;
    grid-template-columns: 4fr 3fr;
    text-align: center;
    border-radius: 8px;
    gap: 10px;
}

h2 {
    font-size: xx-large;
    padding-left: 0;
    color: var(--color-text-lighter);
    font-weight: bolder;
}

.box {
    background-color: var(--color-navy-dark);
    border-radius: 8px;
    padding: 12px;
}

.box p {
    color: var(--color-text-lighter);
}

.box .boxhead {
    background-color: var(--color-navy-mid);
    padding: 8px;
    border-radius: 8px 8px 0 0;
}

.inventario-productos {
    background-color: var(--color-navy-dark);
    border-radius: 8px;
    padding: 12px;
}